environment {
    LIBVA_DRIVER_NAME "nvidia"
    __GLX_VENDOR_LIBRARY_NAME "nvidia"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    GTK_THEME "Adwaita2"
}

hotkey-overlay {
    skip-at-startup
}

cursor {
    xcursor-theme "mycur"
    xcursor-size 24
}

screenshot-path null

// Animation settings.
// The wiki explains how to configure individual animations:
// https://niri-wm.github.io/niri/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}