environment {
    LIBVA_DRIVER_NAME "nvidia"
    __GLX_VENDOR_LIBRARY_NAME "nvidia"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    GTK_THEME "Adwaita2"
    // GBM_BACKEND "nvidia-drm"
}

hotkey-overlay {
    skip-at-startup
}

cursor {
    xcursor-theme "mycur"
    xcursor-size 24
}

screenshot-path null

debug {
  // Allows notification actions and window activation from Noctalia.
  // honor-xdg-activation-with-invalid-serial
}