workspace "gaming" {
    open-on-output "DP-3"
    layout {
        always-center-single-column
        preset-column-widths { proportion 1.0; }
        default-column-width { proportion 1.0; }
    }
}

workspace "music" {
    open-on-output "DP-2"
    layout {
        always-center-single-column
        preset-column-widths { proportion 1.0; }
        default-column-width { proportion 1.0; }
    }
}

workspace "dc" {
    open-on-output "DP-2"
    layout {
        always-center-single-column
        preset-column-widths { proportion 1.0; }
        default-column-width { proportion 1.0; }
    }
}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Window-Rules

// Floating
window-rule {
    // match app-id="^com.mitchellh.ghostty$"
    match title="Friends List"
    match title="Steam Settings"
    // match app-id="org.gnome.Nautilus"
    match title="Soundboard"

    open-floating true
}

// Gaming
window-rule {
    match app-id=r#"steam_app_[^d].*"#
    match app-id="gamescope"
    match app-id="(unset)"
    match app-id="Minecraft"
    match app-id="factorio"

    open-on-workspace "gaming"
    open-fullscreen true
    open-focused true
    variable-refresh-rate true
}

// Hide
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match title="Bitwarden Password Manager"
    block-out-from "screencast"
}

window-rule {
    match app-id="tidal-hifi"
    open-maximized true
    open-on-workspace "music"
    open-focused false
}

window-rule {
    match app-id="discord"
    open-maximized true
    open-on-workspace "dc"
}

window-rule {
    match app-id="com.mitchellh.ghostty"
    default-column-width { proportion 0.5; } // fixed 1300;
    // default-window-height { proportion 0.5; } // fixed 650;
}

window-rule {
    match app-id="org.gnome.Nautilus"
    default-column-width { proportion 0.5; } // fixed 1300;
    default-window-height { proportion 0.5; } // fixed 700;
}

window-rule {
    match app-id="steam" title=r#"notificationtoasts*"#
    open-on-output "DP-2"
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

window-rule {
    match app-id="vicinae"

    open-on-output "DP-3"
    open-floating true
    open-focused true
}

window-rule {
    match is-window-cast-target=true
        border {
        active-gradient from="#ff0000ee" to="#ff7000ee"  angle=135
        inactive-gradient from="#ff000070" to="#ff700070"  angle=135
        urgent-gradient from="#ff0000ee" to="#ff0000ee" angle=135
    }
}